<p id="notice"><%= notice %></p>

<div class ="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-default">
        	<div class="panel-heading">
          		<h3 class="panel-title">Title:<%= @blog_post.title %> </h3>
          		<strong>Author:</strong> <%= @blog_post.author %>
          	</div>
			<div class="panel-body">
  					<strong>Blog entry:</strong>
  				<p>	<%= @blog_post.blog_entry %> </p>
  			</div>
  			<div class="panel-footer">
  				<%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
				<%= link_to 'Back', blog_posts_path %>
			</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-4">
		<%= render 'comments/form' %>
	</div>
</div>
<div class ="row">
      <div class="col-md-6 col-md-offset-3">
      <% @blog_post.comments.each do |comment| %>
<div class="list-group">
  <a href="#" class="list-group-item active">
    <h2 class="list-group-item-heading"><%= comment.author %></h2>

    <h3 class="list-group-item-text"><span class="label label-info"><%= comment.comment_entry %></span></h3>
 
  </a>
</div>
<%end %>
</div>
</div>